<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432421295894-5crh8hmt49769f253dfsaauq7b08n3qo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432421295894-5crh8hmt49769f253dfsaauq7b08n3qo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>432421295894-52alke6fmn0km309949ahl8p7nnef738.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXJAUT4nF-Bo-7SKfg1H5_xUy0YVnJBZc</string>
	<key>GCM_SENDER_ID</key>
	<string>432421295894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fashionShoppingApp</string>
	<key>PROJECT_ID</key>
	<string>fashion-shopping-366319</string>
	<key>STORAGE_BUCKET</key>
	<string>fashion-shopping-366319.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432421295894:ios:6c2054844695c433eee237</string>
</dict>
</plist>